import React, { Component } from 'react';

class {{pascalCase name}} extends Component {
  render() {
    return (
      <div className="{{name}}">
        {{pascalCase name}}
      </div>
    )
  };
}

export default {{pascalCase name}};
